@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to MovieRatingSystem</h2>

<div class="buttons">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="Index" class="btn btn-danger">Admin Panel</a>
        }
        <a asp-controller="Movies" asp-action="Index" class="btn btn-info">View Movies</a>
        <a asp-controller="TvShows" asp-action="Index" class="btn btn-info">View TV Shows</a>
    }

</div>